In [1]:
import pandas as pd
import zipfile
import math

EARTH_RADIUS = 6371
LARGE_JUNC = ("large_junction", 43.741602, 7.426854)
SMALL_JUNC = ("small_junction", 43.738850, 7.424625)
ROUNDABT = ("round_about", 43.731597, 7.417291)

#Radius of the circle centered around the junction
RANGE = 100

In [2]:
def distance(lat_1, lon_1, lat_2, lon_2):
    lat1 = math.radians(lat_1)
    lat2 = math.radians(lat_2)
    lon1 = math.radians(lon_1)
    lon2 = math.radians(lon_2)
    delta_lat = lat2 - lat1
    delta_lon = lon2 - lon1
    if delta_lat < -1 or delta_lat > 1 or delta_lon < -1 or delta_lon > 1:
        print("Undefined value for {:.2f} or {:.2f}".format(delta_lat, delta_lon))
        return -1
    sin_lat = math.sin(delta_lat / 2)
    sin_lon = math.sin(delta_lon / 2)
    a = sin_lat * sin_lat + math.cos(lat1)*math.cos(lat2) * sin_lon * sin_lon
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = EARTH_RADIUS * c
    d = 1000 * d
    return d

In [16]:
def compare_distance(lon2, lat2):
    #(lat2, lon2) = coord
    (name, lat1, lon1) = ROUNDABT
    dist = distance(lat1, lon1, lat2, lon2)
    return dist < RANGE and dist >= 0

In [4]:
df = pd.read_csv('/home/sarah_a_mdv/sumo-simulation/src/data/all_coordinates_1.tar.gz', compression='gzip', sep=',', quotechar='"', error_bad_lines=False)

In [5]:
df.columns=["step", "id", "type", "lon", "lat"]
df.head()

       step               id type       lon        lat
0  14405.50  bus_M1:France.0  bus  7.376518  43.720354
1  14405.75  bus_M1:France.0  bus  7.376519  43.720354
2  14406.00  bus_M1:France.0  bus  7.376522  43.720355
3  14406.25  bus_M1:France.0  bus  7.376525  43.720355
4  14406.50  bus_M1:France.0  bus  7.376528  43.720356

In [17]:
junc = df[df[["lon", "lat"]].apply(lambda x: compare_distance(*x), axis=1)]
junc.head()

Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf
Undefined value for inf or inf

           step                  id type       lon        lat
13306  14809.75  bus_1:SaintRoman.0  bus  7.418303  43.732088
13319  14810.00  bus_1:SaintRoman.0  bus  7.418277  43.732076
13332  14810.25  bus_1:SaintRoman.0  bus  7.418250  43.732063
13345  14810.50  bus_1:SaintRoman.0  bus  7.418222  43.732050
13358  14810.75  bus_1:SaintRoman.0  bus  7.418193  43.732037

In [18]:
junc.to_csv("/home/sarah_a_mdv/sumo-simulation/src/data/roundabout.csv")